body#body {
    background-image: url('https://i.ibb.co/3mDNJRG/2125-E8-C3-B010-4-C7-B-9-E73-264-E69035-F2-E.jpg');
    background-repeat: no-repeat;
    /*background-position: center center;*/
    color: #FFFFFF;
    min-height: 100%;
}
